<div class="jumbotron">
    <h1>RZNU API</h1>
    <p class="lead">REST API about Movies and Actors. See more on Api</p>
</div>
<div class="panel-body">
    <div class="container-fluid">
        <div>Developed by:</div>
        <h3>Diana Šperanda</h3>

        <div>dianasperanda@outlook.com</div>
        <a href="https://github.com/dianasperanda">Github account</a>
        <a href="https://www.linkedin.com/in/diana-%C5%A1peranda-06bab5112/">LinkedIn account</a>
    </div>
</div>
